*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

input,
textarea,
button,
select {
    font: inherit;
    border: none;
    outline: none;
}
